# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
lib
es
build
out
# Build outputs in root
/[A-Z]*.js
/[A-Z]*.d.ts
/index.js
/index.d.ts
/utils.js
/utils.d.ts
/components.js
/components.d.ts

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs
*.log

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.idea
*.swp
*.swo

# Testing
coverage

svg-source